.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: transparent;
  border-bottom: 1px solid var(--gray-scale-bd);
  font-size: var(--large);
  font-weight: bold;
  gap: 40px;
  position: sticky;
  top: 0;

  &__hidden {
    display: none;
  }

  &__menu {
    cursor: pointer;
  }
}
