@import "palette.scss";
@import "typography.scss";
:root {
  width: 100vw;
  height: 100vh;
  body {
    margin: 0;
  }
}
// @font-face {
//   font-family: "SUIT-Regular";
//   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
//     format("woff2");
// }
div {
  box-sizing: border-box;
}
div,
a {
  // font-family: "SUIT-Regular";
  // font-weight: 500;
}

ul,
li {
  list-style: none;
}
