:root {
  --basic-white: #ffffff;
  --basic-black: #212121;
  --basic-blue: #3166ff;
  --basic-red: #ff645c;

  --gray-scale-fa: #fafafa;
  --gray-scale-f6: #f6f8fa;
  --gray-scale-ee: #eeeeee;
  --gray-scale-e4: #e4e4e4;
  --gray-scale-d8: #d8dee4;
  --gray-scale-cc: #cccccc;
  --gray-scale-bd: #bdbdbd;
  --gray-scale-99: #999999;
  --gray-scale-66: #666666;
  --gray-scale-30: #303030;

  --main-basic: #aed3f2;
  --main-dark: #85c8f2;
  --main-normal: #b6dbf2;
  --main-light: #d0e5f2;
}
